<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.so.debelzaak.evolution.zaakcontact">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconee"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconee"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SCN"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.FullScreen"
            android:screenOrientation="landscape"/>
    </application>

</manifest>